﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Korpa</title>
</head>
<body>
    <div>

        <img src="~/right.png" style="align-self:center" />
        <p>
            You bought a car sucessfully,congrats!<br />
            <b>  For additional tax pay,you paid 200e plus the regular price of the car.</b><br />
            Here is the list of all of your
            purchases:<br />
        </p>

    </div>
    <div>
        <p>Bought cars:</p>
        <table border="0" align="center" style="color:springgreen">
            <tr bgcolor="lightgrey">
                <th>Brand Name</th>
                <th>Model</th>
                <th>Date</th>
                <th>Price</th>
                <th>&nbsp;</th>

            </tr>

            @foreach (var v in ViewBag.Korpa)
            {
                <tr>
                    @*<td>@v.Kupac.Username</td>*@
                    <td>@v.Kupljeno.Marka</td>
                    <td>@v.Kupljeno.Model</td>
                    <td>@v.DatumKupovine</td>
                    <td>@v.NaplacenaCena</td>
                    <td></td>
                </tr>
            }
        </table>
        <form method="get" action="~/Home/Index">
            <input type="submit" value="Back">
        </form>
    </div>
</body>
</html>
