﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Korpa</title>
</head>
<body>
    <div>
       
        <img src="~/right.png" style="align-self:center" />
        <p>
            You bought a car sucessfully,congrats!<br />
            <b>  For additional tax pay,you paid 200e plus the regular price of the car.</b><br />
            Here is the list of all of your
            purchases:<br />
        </p>

        <a href="~/Korpa/GetItems" style="color:Highlight"> Open The List of your <b>bought items.</b> </a>


        <form method="get" action="~/Home/Index">
            <input type="submit" value="Back">
        </form>
    </div>
</body>
</html>
