﻿
@{
    ViewBag.Title = "Add a New Car";
}

<h2>Add a Car</h2>

<div style="color:red">
    @ViewBag.Message
</div>

<form action="~/Vozila/AddCar" method="post">
    <table>
        <tr>
            <td>Brand name:</td>
            <td><input type="text" name="Marka" required /></td>
        </tr>

        <tr>
            <td>Model:</td>
            <td><input type="text" name="Model" required /></td>
        </tr>

        <tr>
            <td>Registered(unique):</td>
            <td><input type="text" name="Sasija"  /></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><input type="text" name="Boja" /></td>
        </tr>
        <tr>
            <td>
            Door Number:

            </td>
            <td>
                <input type="number" min="1" max="6"  id="BrojVrata" name="BrojVrata">
            </td>
        </tr>
        <tr>
            <td>Gas:</td>
            <td>
                <input list="VrstaGoriva" name="VrstaGoriva"  value="Benzin" required/>
                <datalist id="VrstaGoriva">
                    <option value="Benzin"></option>
                    <option value="BenzinGas"></option>
                    <option value="Dizel"></option>
                    <option value="Metan"></option>
                    <option value="ElektricniPogon"></option>
                    <option value="Hibridni"></option>
                </datalist>
            </td>
        </tr>

        <tr>
            <td>Description:</td>
           
            <td><input type="text" name="Description" /></td>
            
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" name="Cena" required /></td>

        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Registracija" />
            </td>
        </tr>
    </table>
</form>

<form method="get" action="~/Home/Index">
    <input type="submit" value="Back">
</form>
