﻿@{
    ViewBag.Title = "Edit";
}
<head>
<title>Edit</title>
</head>

<div style="color:red">
    @ViewBag.Message
</div>
    <body>


        <form action="~/Vozila/Edit" method="post">
            <table class="show">
                <tr>

                    <td>Brand Name:</td>
                    <td><input type="text" name="Marka" value="@ViewBag.Vozila.Marka" /> </td>
                </tr>

                <tr>
                    <td>Model:</td>
                    <td><input type="text" name="Model" value="@ViewBag.Vozila.Model" /> </td>
                </tr>

                <tr>
                    <td>RegisterNumber(unique):</td>
                    <td><input type="text" name="Sasija" value="@ViewBag.Vozila.Sasija" readonly /> </td>
                </tr>
                <tr>
                    <td>Color:</td>
                    <td><input type="text" name="Boja" value="@ViewBag.Vozila.Boja" /> </td>
                </tr>

                <tr>
                    <td>Door Number:</td>
                    <td><input type="number" min="1" max="6" name="BrojVrata" value=" @ViewBag.Vozila.BrojVrata" /></td>
                </tr>
                <tr>
                    <td>Gas:</td>
                    <td>
                        <input list="vrstaGoriva" name="vrstaGoriva" value="@ViewBag.Vozila.VrstaGoriva" />
                        <datalist id="vrstaGoriva">
                            <option value="Benzin"></option>
                            <option value="Dizel"></option>
                            <option value="BenzinGas"></option>
                            <option value="Metan"></option>
                            <option value="ElektricniPogon"></option>
                            <option value="Hibridni"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <input type="text" name="Description" value="@ViewBag.Vozila.Description">

                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" name="Cena" value="@ViewBag.Vozila.Cena" /></td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <input type="submit" value="Edit Car">


        </form>





    </body>
