﻿<head>
    <title>GetCars</title>
</head>
<body>
    <div>
        <p>Available cars:</p>
        <table border="1">
            <tr bgcolor="lightgrey">
                <th>Brand Name</th>
                <th>Model</th>
                <th>Car licence</th>
                <th>Color</th>
                <th>DoorNumber</th>
                <th>Gas</th>
                <th>Description</th>
                <th>Price</th>
                <th>Bought by</th>
                <th>Status</th>
                <th>&nbsp;</th>

            </tr>

            @foreach (var v in ViewBag.svavozila)
            {
            <tr>
                <td>@v.Marka</td>
                <td>@v.Model</td>
                <td>@v.Sasija</td>
                <td>@v.Boja</td>
                <td>@v.BrojVrata</td>
                <td>@v.VrstaGoriva</td>
                <td>@v.Description</td>
                <td>@v.Cena</td>
                <td>@v.Korisnik</td>


                <td style="color:springgreen">@v.Status</td>
                <td>
                    <form method="get" action="~/Vozila/Delete">
                        <input type="hidden" name="id" value="@v.Sasija">
                        <input type="submit" value="Delete">
                    </form>
                </td>


            </tr>
            }
        </table>

    </div>

    <form method="get" action="~/Home/Index">
        <input type="submit" value="Back">
    </form>

</body>

