﻿<div style="color:red">
    @ViewBag.Message
</div>
                                            
  <h1>Details</h1>

                                              <div class="jumbotron">
                                                  <em><i>Brand name:</i></em><p>@ViewBag.vozila.Marka</p>
                                                  <strong><i>Model:</i></strong><p>@ViewBag.vozila.Model</p>
                                                  <strong><i>Description:</i></strong><p>@ViewBag.vozila.Description</p>
                                                  <strong><i>Gas:</i></strong><p>@ViewBag.vozila.VrstaGoriva</p>
                                                  <strong><i>Color:</i></strong><p>@ViewBag.vozila.Boja</p>
                                                  <strong><i>Price:</i></strong><p>@ViewBag.vozila.Cena</p>

                                              </div>

         

                         <form method="get" action="~/Home/Index">
                             <input type="submit" value="Back">
                         </form>
