﻿<p>Users that are registerd:</p>

<table border="1">
    <tr bgcolor="yellow">
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Date</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Uloga</th>
        <th>&nbsp;</th>

    </tr>

    @foreach (var k in ViewBag.Korisnici)
    {
    <tr>
        <td>@k.Username</td>
        <td>@k.Password</td>
        <td>@k.Name</td>
        <td>@k.Lastname</td>
        <th>@k.Date</th>
        <th>@k.Email</th>
        <th>@k.Gender</th>
        <th>@k.Uloga</th>
        <th>&nbsp;</th>
        <td>
            @if (k.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.KUPAC))
            {
                <form method="get" action="~/Autentifikacija/Delete">
                    <input type="hidden" name="id" value="@k.Username">
                    <input type="submit" value="Delete">
                </form>
            }
            </td>

    </tr>
    }




</table>

<form method="get" action="~/Home/Index">
    <input type="submit" value="Back">
</form>
