﻿@using WebApplication1.Models;
@model IEnumerable<Vozilo>

@{
    ViewBag.Title = "Home Page";
}

<div style="color:red">
    @ViewBag.Message
</div>

<div class="jumbotron">

    @if (ViewBag.korisnici == null)
    {
        <h1>Hello <a href="~/Autentifikacija/Index">Login</a></h1>
        <br />
    }
        <div>


            @if (ViewBag.korisnici != null)

            {
                <h1>Hello @ViewBag.korisnici.Username</h1>
                <br />

                if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.KUPAC))
                {
                    <a href="~/Korpa/GetItems" style="color:Highlight"> Open The List of your <b>bought items.</b> </a>
                }


                if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.ADMIN))
                {
                    <div class="jumbotron" style="font:bold;font-style:normal;color:white;background-color:black">
                        <label><em><strong>ADMIN panel:</strong></em></label>
                        <br />
                        <a href="~/Vozila/AddCar" style="color:aqua"> Add New Car </a>

                        <a href="~/Vozila/GetCars" style="color:red"> Open The List of All <b>Cars</b> </a>

                        <a href="~/Autentifikacija/GetUsers" style="color:gold"> Open the list of All <b>Users</b> </a>
                    </div>


                }

            }
        </div>
        <div style="background-color:dimgray;color:black">


            <table>
                <tr> <td>Sort:</td></tr>

                <tr>
                    <td>
                        <form method="post" action="~/Home/SortModelAsc">
                            <input type="submit" value="SortModelAsc">
                        </form>

                    </td>
                    <td>
                        <form method="post" action="~/Home/SortModelDesc">
                            <input type="submit" value="SortModelDesc">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="~/Home/SortMarkaDesc">
                            <input type="submit" value="SortMarkaDesc">
                        </form>

                    </td>

                    <td>
                        <form method="post" action="~/Home/SortMarkaAsc">
                            <input type="submit" value="SortMarkaAsc">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="~/Home/SortCenaAsc">
                            <input type="submit" value="SortCenaAsc">
                        </form>

                    </td>
                    <td>
                        <form method="post" action="~/Home/SortCenaDesc">
                            <input type="submit" value="SortCenaDesc">
                        </form>

                    </td>

                </tr>
                <tr>
                    <td> Price range: </td>
                    <td>
                        <form method="post" action="~/Home/Range">
                            <input type="text" name="from" size="10" />  -  <input type="text" name="to" size="10" />
                            <input type="submit" value="Range" />
                        </form>
                    </td>

                    <td colspan="2"></td>
                </tr>



            </table>

        </div>

        <br />
        <form method="post" action="~/Home/Search">

            <input list="itemOfSearch" name="itemOfSearch" />
            <datalist id="itemOfSearch">
                <option value="Model"></option>
                <option value="Brand Name"></option>
            </datalist>

            <input type="text" name="search" />
            <input type="submit" value="Search">

        </form>

        <p>Available cars:</p>
        <table border="1" style="font-family:Lucida Console;font-size:medium;text-align:center" align="center" cellspacing="150">
            <tr bgcolor="lightgrey">
                <th>Brand Name</th>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
                <th>&nbsp;</th>

            </tr>

            @foreach (var v in ViewBag.svavozila)
            {
                if (v.Status)
                {


                    <tr>
                        <td>@v.Marka</td>
                        <td>@v.Model</td>
                        <td>@v.Boja</td>
                        <td>@v.Cena</td>
                        <td>
                            <form method="get" action="~/Vozila/Index">
                                <input type="hidden" name="id" value="@v.Sasija">
                                <input type="submit" value="Detail">
                            </form>

                            @if (ViewBag.korisnici != null)
                            {


                                if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.ADMIN) && v.Status.Equals(true))
                                {

                                    <form method="get" action="~/Vozila/Edit">
                                        <input type="hidden" name="id" value="@v.Sasija">
                                        <input type="submit" value="Edit">
                                    </form>
                                }
                                if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.KUPAC))
                                {

                                    <form method="get" action="~/Korpa/Index">
                                        <input type="hidden" name="id" value="@v.Sasija">
                                        <input type="submit" value="Buy">
                                    </form>
                                }

                            }



                        </td>
                    </tr>
                }
            }
        </table>


    </div>


