﻿

<h1>Hello my friend, you were looking for....</h1>
<table border="1" style="font-family:Lucida Console;font-size:medium;text-align:center" align="center" cellspacing="50">
    <tr bgcolor="lightgrey">
        <th>Brand Name</th>
        <th>Model</th>
        <th>Color</th>
        <th>Price</th>
        <th>&nbsp;</th>

    </tr>

    @foreach (var v in ViewBag.Vozila)
    {
        if (v.Status)
        {


            <tr>
                <td>@v.Marka</td>
                <td>@v.Model</td>
                <td>@v.Boja</td>
                <td>@v.Cena</td>
                <td>
                    <form method="get" action="~/Vozila/Index">
                        <input type="hidden" name="id" value="@v.Sasija">
                        <input type="submit" value="Detail">
                    </form>

                    @if (ViewBag.korisnici != null)
                    {


                        if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.ADMIN) && v.Status.Equals(true))
                        {

                            <form method="get" action="~/Vozila/Edit">
                                <input type="hidden" name="id" value="@v.Sasija">
                                <input type="submit" value="Edit">
                            </form>
                        }
                        if (ViewBag.korisnici.Uloga.Equals(WebApplication1.Models.Korisnik_Uloga.KUPAC))
                        {

                            <form method="get" action="~/Korpa/Index">
                                <input type="hidden" name="id" value="@v.Sasija">
                                <input type="submit" value="Buy">
                            </form>
                        }

                    }



                </td>
            </tr>
        }
    }
</table>
<form method="get" action="~/Home/Index">
    <input type="submit" value="Back">
</form>